/* ------------------------------------------------RESPONSE1----------------------------------------------- */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#0B1220;

font-family:Inter,sans-serif;

color:white;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

button{

cursor:pointer;

font-family:inherit;

}

.page{

padding:40px;

}

/* ------------------------------------------------RESPONSE1----------------------------------------------- */
